.content {
    background-color: #3f3f3f;
}

.row {
    width: 101%;
}

.header {
    background-color: #212121;
    // padding: 1px;
}

.logo {
    margin: 1%;
    margin-left: 10%;
    width: 40%;
}