<div class="content">
    <!-- Header -->
    <div class="row align-items-center header">
        <div class="col-md-auto">
            <a href="#">
                <img src="../assets/img/logo.png" alt="Logo" class="logo img-fluid">
            </a>
        </div>
        <div class="col-md-auto">
            <a class="nav-link fs-5" href="#">Inicio</a>
        </div>
        <div class="col-md-auto">
            <a class="nav-link fs-5" [routerLink]="['game-page']">Demos</a>
        </div>
        <div class="col">
            <a class="nav-link fs-5" [routerLink]="['catalogue']">Tienda</a>
        </div>
        <div class="col-md-auto">
            <a class="nav-link fs-5" href="#">Carrito</a>
        </div>
        <div class="col-md-auto">
            <a class="nav-link fs-5" href="#">Perfil</a>
        </div>
        <div class="col-md-auto">
            <a class="nav-link fs-5"  href="#">Salir</a>
        </div>
    </div>

    <!-- Content -->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <div class="row align-items-center footer">
        <div class="col-md-auto">
            <a class="nav-link" href="#">STEMAN VALUES</a>
        </div>
        <div class="col-md-auto">
            <a class="nav-link" href="#">BLOG</a>
        </div>
        <div class="col">
            <a class="nav-link" href="#">CONTACT US</a>
        </div>
        <div class="col-md-auto">
            <p>© 2021, made  by Steman Dev. Team</p>
        </div>
    </div>
</div>