.content {
    // background-color: #3f3f3f;
}

.row {
    width: 101%;
}

.header, .footer {
    background-color: #252426;
}

.footer {
    padding-left: 1%;
    padding-top: 25px;
    padding-bottom: 10px;
}

p, a {
    color: whitesmoke;
}

.logo {
    margin-left: 10%;
    margin-bottom: 5%;
    width: 75px;
    height: 65px;
}