<div class="content">
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/noimage.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/no-image.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <button class="btn btn-outline-dark fs-5">Agregar al carrito</button>

  <div class="descripcion">
    <p class="fs-5">Descripción.</p>
    <p class="fs-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquid ex ea commodi consequat. Quis aute
      iure reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="requisitos">
    <p class="fs-5">Requisitos mínimos.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        S.O.: Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit Service Pack 1, Windows Vista 64 Bit Service Pack 2.
      </li>
      <li class="list-group-item">
        Procesador: Intel Core 2 Quad CPU Q6600 @ 2.40GHz (4 CPUs) / AMD Phenom 9850 Quad-Core Processor (4 CPUs) @ 2.5GHz.
      </li>
      <li class="list-group-item">
        Memoria RAM: 4GB.
      </li>
      <li class="list-group-item">
        Tarjeta gráfoca: NVIDIA 9800 GT 1GB / AMD HD 4870 1GB (DX 10, 10.1, 11).
      </li>
      <li class="list-group-item">
        Tarjeta de Sonido: Compatible al 100% con DirectX 10.
      </li>
      <li class="list-group-item">
        Disco Duro: 65GB libres.
      </li>
    </ul>
  </div>

  <div class="requisitos">
    <p class="fs-5">Requisitos recomendados.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        S.O.: Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit Service Pack 1.
      </li>
      <li class="list-group-item">
        Procesador: Intel Core i5 3470 @ 3.2GHZ (4 CPUs) / AMD X8 FX-8350 @ 4GHZ (8 CPUs).
      </li>
      <li class="list-group-item">
        Memoria RAM: 8GB.
      </li>
      <li class="list-group-item">
        Tarjeta Gráfica: NVIDIA GTX 660 2GB / AMD HD7870 2GB.
      </li>
      <li class="list-group-item">
        Tarjeta de Sonido: Compatible al 100% con DirectX 10.
      </li>
      <li class="list-group-item">
        Disco Duro: 65GB libres.
      </li>
    </ul>
  </div>
</div>


  <!-- ../assets/img/noimage.jpg -->