.row{
    margin: 1%;
}

.col-md-2 {
    margin: 1.6%;
    background-color: #f3f3f3;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 90%;
    border-color: #A0A4D9;
    color: #404BB3;
    background-color: white;
    margin-bottom: 5%;
}