<div class="row">
    <div class="col-md-2 border card">
        <a [routerLink]="['game-page']">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border card">
        <a href="#">
            <img src="../assets/img/noimage.jpg" class="rounded img-fluid">
            <h5>Titulo</h5>
        </a>
        <h6>Precio (estrellas)</h6>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">AGREGAR</button>
        </div>
    </div>
</div>