.row{
    margin: 1%;
}

.col-md-2 {
    margin: 1.6%;
    background-color: white;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 95%;
    margin-bottom: 5%;
}

h5 {
    color: black;
}