<div class="row">
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
    <div class="col-md-2 border">
        <img src="../assets/img/noimage.jpg" class="img-thumbnail">
        <h5>Titulo</h5>
        <h6>Precio (estrellas)</h6>
        <h5><small>Descripción</small></h5>
        <p class="text-secondary">
            Lorem ipsum dolor sit amet, conse
            ctetur adipiscing elit, sed do eiusm
            od tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad
        </p>
        <div class="text-center">
            <button type="submit" class="btn">AGREGAR</button>
        </div>
    </div>
</div>